[Unit]
Description=Set time via NTP
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/ntpdate start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
